<?xml version="1.0" ?>
<launch>
  <arg name="name" default="" />
  <arg name="ns" default="/$(arg name)" />
  <arg name="urdf" default="$(find butia_navigation_description)/urdf/pioneer3at.urdf" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.5" />
  
  
  <group ns="$(arg ns)">
    <include file="$(find butia_navigation_gazebo)/spawn.launch">
      <arg name="urdf" value="$(arg urdf)" />
      <arg name="x" value="$(arg x)" />
      <arg name="y" value="$(arg y)" />
      <arg name="z" value="$(arg z)" />
      <arg name="name" default="$(arg name)"/>
    </include>
  </group>
  
</launch>

