max_obstacle_height: 8.0  # assume something like an arm is mounted on top of the robot

# Obstacle Cost Shaping (http://wiki.ros.org/costmap_2d/hydro/inflation)
# robot_radius: 0.35  # distance a circular robot should be clear of the obstacle (kobuki: 0.18)
footprint: [[0.75, 0.25], [0.30, -0.25], [-0.30, -0.25], [-0.30, 0.25]]   # if the robot is not circular

map_type: voxel

obstacle_layer:
  enabled:              true
  max_obstacle_height:  0.6
  origin_z:             0.0
  z_resolution:         0.2
  z_voxels:             2        # set higher to enable voxels
  unknown_threshold:    15
  mark_threshold:       0
  combination_method:   1
  track_unknown_space:  true    # true needed for disabling global path planning through unknown space
  footprint_clearing_enabled: true
  obstacle_range: 3.5
  raytrace_range: 4.0
  publish_voxel_map: false
  observation_sources:  scan ground_scan
  scan:
    data_type: LaserScan
    topic: scan
    marking: true   # whether the sensor will be used to add obstacle information to the costmap
    clearing: true  # whether the sensor will be used to clear obstacle information from the costmap
    min_obstacle_height: 0.25
    max_obstacle_height: 0.35
    observation_persistence: 0.0  # parametros sendo testados
    raytrace_range: 4.0
    inf_is_valid: true
  ground_scan:
    data_type: LaserScan
    topic: scan2
    marking: true   # whether the sensor will be used to add obstacle information to the costmap
    clearing: true  # whether the sensor will be used to clear obstacle information from the costmap
    min_obstacle_height: 0.25
    max_obstacle_height: 0.35
    observation_persistence: 0.0  # parametros sendo testados
    raytrace_range: 4.0
    inf_is_valid: true
    
  # for debugging only, let's you see the entire voxel grid

#cost_scaling_factor and inflation_radius were now moved to the inflation_layer ns
inflation_layer:
  enabled:              true
  cost_scaling_factor:  2.58  # exponential rate at which the obstacle cost drops off (default: 10)
  inflation_radius:     1.75  # max. distance from an obstacle at which costs are incurred for planning paths. (default: 0.4)

static_layer:
  enabled:              true
  

