<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find amr_robots_gazebo)/models" />
  <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find amr_robots_gazebo)/models" />

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>

  <!-- Select a map and world
  Willow Gagage:
    <arg name="world" default="worlds/willowgarage.world" />
    <arg name="map" default="$(find amr_robots_gazebo)/maps/willow.yaml" />
  Playground:
    <arg name="world" default="$(find amr_robots_gazebo)/worlds/playground.world" />
    <arg name="map" default="$(find amr_robots_gazebo)/maps/playground.yaml" />
  -->
  <arg name="world" default="$(find amr_robots_gazebo)/worlds/playground.world" />
  <arg name="map" default="$(find amr_robots_gazebo)/maps/playground.yaml" />

  <!-- Set command arguments -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <arg unless="$(arg paused)" name="command_arg1" value=""/>
  <arg     if="$(arg paused)" name="command_arg1" value="-u"/>
  <arg unless="$(arg headless)" name="command_arg2" value=""/>
  <arg     if="$(arg headless)" name="command_arg2" value="-r"/>
  <arg unless="$(arg verbose)" name="command_arg3" value=""/>
  <arg     if="$(arg verbose)" name="command_arg3" value="--verbose"/>
  <arg unless="$(arg debug)" name="script_type" value="gzserver"/>
  <arg     if="$(arg debug)" name="script_type" value="debug"/>


  <!-- Start gazebo server-->
  <node name="gazebo" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"
  args="$(arg command_arg1) $(arg command_arg2) $(arg command_arg3) $(arg world)" />
  

  <!-- Start gazebo client -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>


  <!-- Start map_server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>


  <!-- Spawn robot -->
  <arg name="urdf" default="$(find amr_robots_description)/urdf/pioneer3at.urdf" />
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="name" default="pioneer3at_robot" />
  <include file="$(find amr_robots_gazebo)/spawn.launch">
  <arg name="urdf" value="$(arg urdf)" />
  <arg name="x" value="$(arg x)" />
  <arg name="y" value="$(arg y)" />
  <arg name="z" value="$(arg z)" />
  </include>


  <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="custom_amcl_launch_file" default="$(find amr_robots_description)/config/amcl.launch.xml"/> 

  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>


  <!-- Move base -->
  <arg name="cmd_vel" default="cmd_vel"/>
  <arg name="odom" default="odom"/>
  
  <include file="$(find amr_robots_description)/config/move_base.launch.xml">
    <arg name="cmd_vel_topic" value="$(arg cmd_vel)"/>
    <arg name="odom_topic" value="$(arg odom)"/>
  </include>


  <!-- RVIZ to view the visualization -->
  <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find amr_robots_gazebo)/navigate-pioneer3at.rviz" required="true" />

</launch>