<?xml version="1.0" ?>
<launch>
  <!-- Launches rviz with the robot model -->
  <arg name="urdf" default="pioneer3at.urdf" />
  <!-- <arg name="joint_state_gui" default="true" /> -->
  <param name="robot_description" textfile="$(find butia_navigation_description)/urdf/$(arg urdf)" />
  <!-- <param name="use_gui" value="$(arg joint_state_gui)"/> -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_navigation_launchfiles)/slam-pioneer3at.rviz" required="true" /-->


  <!-- Start map_server -->
  <arg name="map" default="$(find butia_navigation_gazebo)/maps/fbot_novo.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen" />

  <!-- Launches laser node -->
  <include file="$(find butia_navigation_description)/config/sick_lms_1xx.launch.xml"/>
  <include file="$(find butia_navigation_description)/config/urg.launch.xml"/>

  <!-- Launches rosaria -->
  <include file="$(find butia_navigation_description)/config/rosaria.launch.xml"/>

  <!-- Localization -->
  <include file="$(find butia_navigation_description)/config/amcl.launch.xml" />


  <!-- Gmapping -->
  <!-- <include file="$(find butia_navigation_description)/config/gmapping.launch.xml" /> -->

  <!-- Move base -->
  <arg name="cmd_vel" default="/RosAria/cmd_vel"/>
  <arg name="odom" default="/RosAria/pose"/>

  <include file="$(find butia_navigation_description)/config/move_base.launch.xml">
    <arg name="cmd_vel_topic" value="$(arg cmd_vel)"/>
    <arg name="odom_topic" value="$(arg odom)"/>
  </include>

</launch>
