<?xml version="1.0" ?>
<launch>
  <param name ="/use_sim_time" value="true"/>

  <!-- Launches rviz with the robot model -->
  <arg name="urdf" default="pioneer3at.urdf" />
  <param name="robot_description" textfile="$(find butia_navigation_description)/urdf/$(arg urdf)" />
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_navigation_launchfiles)/navigate-patrol.rviz" required="true" />

  <!-- Start map_server -->
  <arg name="map" default="$(find butia_navigation_gazebo)/maps/c3-segundo-andar-2.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen" />

  <!-- Localization -->
  <include file="$(find butia_navigation_description)/config/amcl.launch.xml" />

</launch>
